services:
  app:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - /photomagic.db:/app/data/photomagic.db
    environment:
      - DATABASE_URL=file:/app/data/photomagic.db
    restart: unless-stopped

volumes:
  photomagic-data:
